<h1>Informações sobre a receita de  <%= @recipe.name %></h1>

<dl>
  <dd>
    <strong>Tipo da receita: </strong><%= @recipe.recipe_type.name if @recipe.recipe_type %>
  </dd>
  <dd>
    <strong>Culinária: </strong><%= @recipe.cuisine %>
  </dd>
  <dd>
    <strong>Ingredientes: </strong><%= @recipe.ingredients %>
  </dd>
  <dd>
    <strong>Modo de preparo: </strong><%= @recipe.cook_method %>
  </dd>
  <dd>
    <strong>Tempo de preparo: </strong><%= @recipe.cook_time %>
  </dd>
  <dd>
    <strong>Status: </strong><%= @recipe.status %>
  </dd>
</dl>

<%= button_to 'Publicar', publish_recipe_path, { method: 'patch', class: 'btn btn-primary' } if !@recipe.published?%>
<%= button_to 'Rascunho', draft_recipe_path, { method: 'patch', class: 'btn btn-primary' } if !@recipe.draft?%>
