<!DOCTYPE html>
<html>
  <head>
    <title>Cookbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to 'Início', root_path %>
        <%= link_to 'Cadastrar nova receita', new_recipe_path %>
        <%= link_to 'Cadastrar novo tipo de receita', new_recipe_type_path %>
      </nav>
    </header>
    <main>
      <%= flash['alert'] %>
      <%= yield %>
    </main>
    <footer></footer>
  </body>
</html>
